@import "tailwindcss";

html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: black;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.146) transparent;
}